@media  screen and (max-width: 1400px) {
    body {
        background-image: url(../img/bottom-background.svg);
        background-size: 50%;
    }
}

@media  screen and (max-width: 1200px) {
    body {
        background-image: url(../img/bottom-background.svg);
        background-size: 70%;
        background-position: right bottom;background-position-x: 1000px !important;
        background-position-y: 50px !important;
    }
}

@media  screen and (max-width: 768px){
    .container {
        flex-direction: column;
        // align-items: flex-start;
        .background-left{
            position: relative;
           right: 150px;
        }
    }
    .chat-app{
        align-self: center;
        position: absolute;
        bottom: 400px;
    }
    .hero {
        text-align: center;
        margin-top: 100px;
    }
}

@media  screen and (max-width: 576px){
    .container{
        background-image: url(../img/bottom-background.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-position-x: 200px;
        background-position-y: 600px;

        .background-left{
            position: relative;
        right: 200px;
        }
        .chat-app{
            position: relative;
            left: 90px;
            bottom: 500px;
        }
        .hero{
            position: relative;
            bottom: 500px;
            
            h2 {
                font-size: 42px !important;
            }
            p {
                font-size: 12px !important;
                padding: 2px;

                .line-break {
                    // display: none;
                }
            }
        }
    }
}